*__pycache__*
*~
*pyc
media/*
operacat/operacat/settings/local.py
build/*
dist/*
*egg-info*
node_modules
gulpfile.js
package.json
*local*
*operacat.db
*django.mo
*txt
*.sublime-project
*.sublime-workspace
*operacat_dabase
*migrations*
*media*
.vscode*
*csv
