{% load i18n %}
{% extends "base.html" %}

{% block body_class %}template-500{% endblock %}

{% block content %}

    <div class="col-xs-12 col-sm-offset-1 col-sm-8 main-content"> <!-- // START center div -->

    <h1>{% blocktrans %}Internal server error{% endblocktrans %}</h1>

    <p>{% blocktrans %}Something went wrong with our server! We should be able to fix it soon. But, in case you're in a hurry send us an email.{% endblocktrans %}.</p>

    </div> <!-- // END center div -->

{% endblock %}
