{% load i18n %}
<div id="search-form">
    <form id="simple-search" action="/en/search/" method="get">
        <h1>Search</h1>
        <fieldset>
          <legend class="is-vishidden">Search</legend>
          <div class="form-group col-xs-10">
             <input class="form-control" type="text" name="query" placeholder="Donizetti">
          </div>
          <div class="form-group col-xs-2">
             <input class="btn btn-primary" type="submit" value="Search"/>
          </div>
        </fieldset>
    </form>
    <button class="btn btn-link" id="show-advanced-search">Advanced Search</button>
    <button class="btn btn-link" id="show-simple-search">Keyword Search</button> 
    <form id="advanced-search" action="/en/advanced_search/" method="get">
        <h1>Advanced Search</h1>
        <fieldset>
            <legend class="is-vishidden">Advanced Search</legend>
            <div class="form-group">
               <label for="composer-query">Composer</label>
               <select class="form-control" id="composer-query" name="composer-query">
               	   <option value="none">---</option>
                   <option value="Bellini">Bellni</option>
               	   <option value="Donizetti">Donizetti</option>
               	   <option value="Puccini">Puccini</option>
               	   <option value="Rossini">Rossini</option>
               	   <option value="Verdi">Verdi</option>
               </select>
            </div>
            <div class="form-group">
                       <label for="item-type-query">Item Type</label>
                       <select class="form-control" id="item-type-query" name="item-type-query">
                	   <option value="none">---</option>
                	   <option value="musical manuscript">musical manuscript</option>
                	   <option value="letter">letter</option>
                	   <option value="document">document</option>
                	   <option value="picture">picture</option>
                	   <option value="printed music">printed music</option>
                	   <option value="musical quotation">musical quotation</option>
                       </select>
            </div>
            <div class="form-group">
                       <label for="title-query">Title</label>
                       <input type="text" id="title-query" class="form-control" name="title-query"/>
            </div>
            <div class="form-group">
                      <label for="start-date-query">Place</label>
                       <input type="text" id="place-query" class="form-control" name="place-query"/>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-6">
                        <label for="start-year-query">Start Year</label>
                        <input type="text" id="start-year-query" class="form-control" name="start-year-query"/>
               	    </div>
                    <div class="col-lg-6">
                        <label for="end-year-query">End Year</label>
                        <input type="text" id="end-year-query" class="form-control" name="end-year-query"/>
                    </div>	
                </div>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Search"/>
            </div>
        </fieldset>
    </form>
</div> <!-- // END search-form -->

