@charset "UTF-8";
/*------------------------------------------------------------------
[Table of contents]

Navbar
Right Sidebar
Tables
Footer

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Table of contents]

"Sticky" Footer
Colors
Accessibility
Fonts and Headers
Media Queries

-------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Tangerine");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
/*
 * "Sticky" Footer
 * --------------------------------------------------
 */
html {
  height: 100%; }

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', 'Arial', sans-serif; }

.site-content {
  flex: 1; }

/*
 * Colors
 * --------------------------------------------------
 */
/*
 * Accessibility
 * --------------------------------------------------
 */
#skip {
  background: #f5f5f5;
  color: #222; }
  #skip a {
    position: absolute;
    padding: 1em 0 1em 3em;
    line-height: 2em;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    color: #222; }
    #skip a:focus {
      position: static;
      width: auto;
      height: auto; }

/* Completely remove from the flow but leave available to screen readers. */
.is-vishidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px); }

/*
 * Fonts and Headers
 * --------------------------------------------------
 */
p {
  margin-bottom: 1em;
  line-height: 1.5em; }

h1 {
  font-size: 1.4em;
  color: #800000;
  font-weight: 300;
  padding-bottom: 5px;
  margin: 0 0 0.2em 0;
  border-bottom: 1px solid #B1746F; }

h2 {
  font-size: 1.2em;
  color: #800000;
  font-weight: 600;
  line-height: 1.4em; }

h3 {
  font-size: 1.1em;
  color: #565656;
  font-weight: 600;
  font-style: italic;
  line-height: 1.4em; }

a {
  color: #337ab7; }
  a:hover, a:focus {
    color: #5B8FA8; }

/*
 * Media Queries
 * --------------------------------------------------
 *
 * Use as: @include respond-to(small) { ... }
 *		@include respond-to(medium) { ... }
 *		@include respond-to(large) { ... }
 */
@media print {
  @page {
    size: 330mm 427mm;
    margin: 1cm; }
  a[href]:after {
    content: none !important; }
  .container {
    width: 1170px; }
  .navbar, #footer {
    display: none; }
  div.breadcrumbs, div#sidebar, div.jumbotron {
    display: none; }
  body {
    overflow: visible !important; }
  div.container, div.container-fluid {
    margin: none;
    padding: none; }
  div.row, div.row-fluid {
    margin: none;
    padding: none; }
  h2, h3, h4, h5, h6 {
    page-break-after: avoid; }
  /*img {
       max-width: 100% !important;
    }*/
  ul, img {
    page-break-inside: avoid; } }

/*
 * Navbar
 * --------------------------------------------------
 */
.navbar {
  border-radius: 0; }
  .navbar .navbar-brand {
    color: #eee;
    font-family: 'Tangerine', cursive;
    font-size: 3em; }
    .navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
      color: #fff; }
  .navbar .dropdown-menu {
    color: #fff;
    background-color: #B1746F; }
    .navbar .dropdown-menu > li > a {
      color: #fff; }
      .navbar .dropdown-menu > li > a:hover, .navbar .dropdown-menu > li > a:focus {
        color: #800000;
        background-color: #eee; }

.navbar-default {
  background-color: #800000;
  border-color: #B1746F; }
  .navbar-default .navbar-nav > li > a {
    color: #fff; }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      color: #eee; }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav .open .dropdown-menu, .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
    background-color: #B1746F; }

li > form {
  padding-top: 15px; }

/*
 * Main Content (Center)
 * --------------------------------------------------
 */
.main-content {
  padding-right: 3em; }
  .main-content a {
    text-decoration: underline; }

.splash {
  display: flex; }
  .splash img {
    display: block;
    max-width: 100%;
    max-height: 90px; }

.item-img {
  display: flex; }
  .item-img img {
    display: block;
    max-width: 100%;
    max-height: 150px; }
  .item-img a + a {
    margin-left: 1em; }

.quote {
  padding-top: 1em; }

blockquote {
  margin: 0 50px;
  padding: 0;
  text-indent: -2em;
  quotes: "“" "”" "‘" "’";
  line-height: 2.2em;
  border-left: 0px; }
  blockquote:before {
    color: #565656;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.1em;
    vertical-align: -0.4em; }
  blockquote:after {
    color: #565656;
    content: close-quote;
    font-size: 4em;
    line-height: 0.5em;
    margin-left: 0.1em;
    vertical-align: -0.4em; }
  blockquote p {
    display: inline; }

.citation {
  color: #565656;
  font-size: .9em;
  margin: 0 0 2em 4em; }

/*
 * Search Box
 * --------------------------------------------------
 */
#search-form {
  max-width: 800px;
  background-color: #F4EDE0;
  padding: 1em 2em 1em;
  margin-bottom: 1em;
  overflow: auto; }
  #search-form h1 {
    padding-left: 0.5em;
    border-bottom: none; }
  #search-form .btn-link {
    float: right !important; }
    #search-form .btn-link::after {
      content: "";
      clear: both;
      display: table; }

fieldset .form-group {
  padding-right: 0.25em;
  padding-left: 0.25em; }
  fieldset .form-group .btn {
    background-color: #642822;
    border-color: #800000;
    width: 100%; }

/*
 * Right Sidebar
 * --------------------------------------------------
 */
.sidebar {
  border-top: 1px solid #eee;
  border-left: 0;
  margin: 0.75em 0;
  padding: 0 1.5em; }
  .sidebar h2 {
    font-weight: 400;
    margin: 1em 0 0.5em;
    padding-bottom: 5px;
    color: #B1746F;
    font-size: 1.1em;
    border-bottom: 1px dotted #B1746F; }
    @media (min-width: 48em) {
      .sidebar h2:first-child {
        margin-top: 0; } }
  @media (min-width: 62em) {
    .sidebar {
      border-left: 1px solid #eee;
      border-top: 0;
      margin: 0;
      padding: 0 15px; } }
  @media (min-width: 75em) {
    .sidebar {
      max-width: 30em; } }
  .sidebar .btn-morelink {
    margin-bottom: 10px; }
  .sidebar ul {
    padding-left: 0; }
    .sidebar ul > li {
      list-style: none; }

/*
 * Buttons and Fancy Links 
 * --------------------------------------------------
 */
.browse {
  font-style: italic; }
  .browse:after {
    font-family: 'Glyphicons Halflings';
    content: "\e080";
    padding-left: 0.5em;
    font-size: 0.65em; }

fieldset.btn-primary[value] {
  display: none; }

/*
 * Tables 
 * --------------------------------------------------
 */
@media (max-width: 34em) {
  table.table-striped, .table-striped > tbody {
    display: block;
    width: 100%; }
    table.table-striped thead, .table-striped > tbody thead {
      display: none; }
    table.table-striped tr, table.table-striped th, table.table-striped td, .table-striped > tbody tr, .table-striped > tbody th, .table-striped > tbody td {
      display: block;
      padding: 0;
      text-align: left;
      white-space: normal; }
      table.table-striped tr[data-title]:before, table.table-striped th[data-title]:before, table.table-striped td[data-title]:before, .table-striped > tbody tr[data-title]:before, .table-striped > tbody th[data-title]:before, .table-striped > tbody td[data-title]:before {
        content: attr(data-title) ": ";
        font-weight: bold;
        color: #B1746F; }
    table.table-striped tr, .table-striped > tbody tr {
      border-bottom: 1px solid #B1746F; }
    table.table-striped td, .table-striped > tbody td {
      border: none;
      margin-bottom: 6px;
      color: #444; }
      table.table-striped td:empty, .table-striped > tbody td:empty {
        display: none; }
      table.table-striped td:first-child:before, .table-striped > tbody td:first-child:before {
        content: ''; } }

table.table-results {
  border-bottom: 1px solid #B1746F; }
  table.table-results thead {
    font-size: 1.1em;
    font-weight: 600;
    color: #B1746F; }
    table.table-results thead tr > th {
      border-color: #B1746F; }
  table.table-results tbody > tr span, table.table-results tbody > tr a {
    display: block; }
  table.table-results tbody > tr td span.description {
    padding-top: 1em; }
  table.table-results tbody > tr td .identifier, table.table-results tbody > tr td span.title {
    font-weight: 700; }
  @media (min-width: 48em) {
    table.table-results tbody > tr td:first-child {
      width: 40%; } }
  table.table-results tbody > tr:nth-of-type(odd) {
    background-color: #fbf9f5; }
  @media (max-width: 34em) {
    table.table-results {
      margin-top: 15px; } }

/*
 * Footer
 * --------------------------------------------------
 */
footer {
  color: #fff;
  background-color: #800000;
  width: 100%;
  padding: 1em 0; }
  footer .container {
    text-align: center; }
  footer a {
    color: #fff;
    text-decoration: underline; }

/*# sourceMappingURL=main-style.css.map */
