{% extends 'base.html' %}
{% load wagtailcore_tags %}
{% load i18n %}

{% block title %}{% trans 'Login' %}{% endblock %}

{% block content %}
  <h2>{% trans 'Login %}</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
        <label for="{{ field.id }}">{{ field.label }}</label>
        {% if field.name == 'password' %}
        <input type="password" class="form-control" name="{{ field.name }}" id="{{field.name }}"/>
        {% else %}
        <input type="{{ field.type }}" class="form-control" name="{{ field.name }}" id="{{field.name }}"/>
        {% endif %}
    </div>  
    {% endfor %}
    <div class="form-group">
        <button class="btn btn-primary" type="submit">{% trans 'Login' %}</button>
    </div>
  </form>
  <p>{% blocktrans %}If you do not already have an account, please use the{% endblocktrans %} <a href="/accounts/register/">{% trans 'Sign Up' %}</a> {% blocktrans %}form to create one and you will be automatically logged in after you complete the form{% endblocktrans %}.</p>
{% endblock %}
