{% extends 'base.html' %}

{% block content %}
  <div class="row"> <!-- // START main row -->
    <div class="col-xs-12 col-sm-offset-1 col-sm-8 main-content"> <!-- // START center div -->

  {% if validlink %}
        <h3>Change password</h3>
        <form method="post">
            {% csrf_token %}
            {% for field in form.fields %}
                <div class="form-group">
                    {% if field == "new_password1" %}
                    <label for="{{ field }}">New Password:</label>
                    {% else %}
                    <label for="{{ field }}">Retype New Password:</label>
                    {% endif %}
                    <input type="password" name="{{ field }}" class="form-control" id="{{ field }}"/>
                </div>
            {% endfor %}
            <button type="submit">Change password</button>
        </form>
    {% else %}
        <p>
        The password reset link was invalid, possibly because it has already been used.
        Please request a new password reset.
        </p>

  {% endif %}
    </div>
  </div>
{% endblock %}