{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block content %}
<form method="post">
    {% csrf_token %}
	{% for field in form %}
	<div class="form-group">
	{% if 'password' in field.name %}
	    <label for="{{ field.id }}">{{ field.label }}</label>
	    <input type="password" name="{{ field.name }}" id="{{ field.name }}" class="form-control"/>


	{% else %}
	    <label for="{{ field.id }}">{{ field.label }}</label>
	    <input type="text" name="{{ field.name }}" id="{{ field.name }}" class="form-control"/>

	{% endif %}
	</div>
	{% endfor %}
	<div class="form-group">
    	    <input class="btn btn-primary" role="button" type="submit" value="Submit"/>
	</div>
</form>

{% endblock %}


