{% extends "base.html" %}
{% load i18n %}
{% load wagtailcore_tags composer_tags dealer_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
        <div class="row"> <!-- // START main row -->
            <div class="col-xs-12 col-sm-offset-1 col-sm-8 main-content"> <!-- // START center div -->
	        <div class="splash">
                    <div><img src="/static/images/Bellini1_edited.JPG"></div>
                    <div><img src="/static/images/Donizetti_edited.JPG"></div>
                    <div><img src="/static/images/Puccini_edited.JPG"></div>
                    <div><img src="/static/images/Rossini_edited.JPG"></div>
                    <div><img src="/static/images/Verdi_edited.JPG"></div>
                </div>
		{% include 'search/search_form.html' %}
            	<div class="quote">
                    <blockquote>
                        {% blocktrans %}My wish is that my Drawings, my Prints, my Curiosities, my Books-in a word these things of art which have been the joy of my life-shall not be consigned to the cold tomb of a museum, and subjected to the stupid glance of the careless passer-by; but I require that they shall all be dispersed under the hammer of the Auctioneer, so that the pleasure which the acquiring of each one of them has given me shall be given again, in each case, to some inheritor of my tastes.{% endblocktrans %}</blockquote>
                    <p class="citation">{% blocktrans %}From the will of Edmond de Goncourt{% endblocktrans %}</p>
                </div>
                <div class="about">
                    <h2>About</h2>
                    <p>{% blocktrans %}OperaCat is a project focusing on manuscript materials of musical interest sold at auction, as well as through music antiquarian catalogues, pertaining to the major composers of nineteenth-century Italian Opera: Gioachino Rossini (1792-1868), Gaetano Donizetti (1797-1848), Vincenzo Bellini (1801-1835), Giuseppe Verdi (1813-1901), and Giacomo Puccini (1858-1924).{% endblocktrans %}</p>
                </div>
	   </div> <!-- // END center div -->

        	<div class="col-xs-12 col-sm-3 sidebar"> <!-- // START Sidebar -->
            	<h2>Composers</h2>
                <ul>
		{% composers %}
                </ul>

            	<h2>Dealers</h2>
                <ul>
		    <li><a href="{% url 'advanced_search' %}?dealer-query=Sotheby">Sotheby's</a></li>
		    <li><a href="{% url 'advanced_search' %}?dealer-query=Christie">Christie's</a></li>
		    <li><a href="{% url 'advanced_search' %}?dealer-query=MAGGS">MAGGS</a></li>
		    <li><a href="{% url 'advanced_search' %}?dealer-query=The Anderson Galleries">The Anderson Galleries</a></li>
		    <li><a href="{% url 'advanced_search' %}?dealer-query=Lubrano">Lubrano</a></li>
                </ul>
            	<p><a class="browse" href="{% url 'dealer-browse' %}">Browse all dealers</a></p>


        	</div> <!-- // END Sidebar -->


	</div> <!-- // END main row -->	
{% endblock %}
