
{% extends "base.html" %}
{% load i18n %}
{% load wagtailcore_tags %}

{% block content %}
        <h1>{{ page.title }}</h1>
        {% blocktrans %}{{ page.intro|richtext }}{% endblocktrans %}
        <form action="{% pageurl page %}" method="POST">
            {% csrf_token %}
	    {% for field in form %}
		<div class="form-group">
		    <label for="{{ field.id }}">{{ field.label }}</label>
		    {% if field.name == 'your-message' %}
			<textarea class="form-control" name="{{ field.name }}" id="{% trans field.name %}"></textarea>
		    {% else %}
			<input type="text" class="form-control" name="{{ field.name }}" id="{% trans field.name %}"/>
		    {% endif %}
	            
		</div>
	    {% endfor %}
	    <div class="form-group">
            	<input type="submit" class="btn btn-primary" class="btn btn-primary" value="{% trans 'Send message' %}"}/>
            </div>
        </form>

{% endblock %}
