{% extends "base.html" %}

{% load comments %}
{% load comments_xtd %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load i18n %}

{% block title %}{% blocktrans %}Viewing a Catalog Item Record{% endblocktrans %}{% endblock %}
{% block content %}

<div class="row"> <!-- // START main row -->
    <div class="col-xs-12 col-sm-offset-1 col-sm-8 main-content"> <!-- // START center div -->
		<h1>
		{{ page.title }}
		</h1>

		{% if page.item_description %}
               	{{ page.item_description|richtext }} 
		{% endif %}

		{% if page.field_notes %}
                <h2>{% trans 'Field Notes' %}</h2>
		{{ page.field_notes|richtext }}
		{% endif %}

		{% if page.images.all %}
                <h2>{% trans 'Images' %}</h2>

		<div class="row">
		    {% for block in page.images %}
			{% image block.value fill-600x600 as my_image %}
			<a href="{{ my_image.url }}" data-toggle="lightbox" data-gallery=catalog-item-gallery">
			    <img class="img-responsive" src="{{ my_image.url }}" alt="{{ my_image.title }}"/>
			</a>
		    {% endfor %}

                    <a href="http://placehold.it/150x150" data-toggle="lightbox" data-toggle="lightbox" data-gallery="catalog-item-gallery">
			<img class="img-responsive"  src="http://placehold.it/150x150">
		    </a>

                    <a href="http://placehold.it/150x150" data-toggle="lightbox" data-toggle="lightbox" data-gallery="catalog-item-gallery">
			<img class="img-responsive" src="http://placehold.it/150x150">
		    </a>
		</div>
		{% endif %}
                <h2>{% trans 'Comments' %}</2h>
		{% if request.user.is_authenticated %}

    			{% get_comment_form for self as make_comment %}
    			<form action="{% comment_form_target %}" method="post">
			    {% csrf_token %}
			    {{ make_comment.honeypot }}
			    {{ make_comment.content_type }}
			    {{ make_comment.object_pk }}
			    {{ make_comment.timestamp }}
			    {{ make_comment.security_hash }}
			    {% for field in make_comment %}
			        {% if field.name == 'comment' %}
				    <div class="form-group">
					<label for="{{ field.name }}">{{ field.label }}</label>
					<textarea class="form-control" id="{{ field.name }}" name="{{ field.name }}"></textarea>
				    </div>
			   	{% elif field.name == 'name' %}
				    <div class="form-group">
					<label for="{{ field.name }}">{{ field.label }}</label>
					<input type="text" class="form-control" id="{{ field.name }}" name="{{ field.name }}" value="{{ request.user.username }}"/>
				    </div>
				{% elif field.name == 'email' %}
				    <div class="form-group">
					<input type="hidden" class="form-control" id="{{ field.name }}" name="{{ field.name }}"/>
				    </div>
				{% endif %}
			    {% endfor %}       
			    <input type="hidden" name="next" value="{% pageurl page.catalogitempage %}" />
				    <div class="form-group">
				        <button type="submit" class="btn btn-primary">{% trans 'Post Comment' %}</button>
				    </div>
		        </form>
    			{% render_comment_list for self %}
	        {% else %}
		        <p>{% trans 'Please' %} <a href="/login/">login</a> {% trans 'or' %} <a href="/accounts/register/">sign up</a> {% blocktrans %}to leave a comment{% endblocktrans %}.</p>
	        {% endif %}
    </div> <!-- // END center div -->
    <div class="col-xs-12 col-sm-3 sidebar"> <!-- // START Sidebar -->

       {% if page.item_composer %}
       <h2>{% trans 'Composer' %}</h2>
       <ul>
          <li><a href="{% url 'advanced_search' %}?composer-query={{ page.item_composer.last_name }}">{{ page.item_composer.last_name }}, {{ page.item_composer.first_name }}</a></li>
       </ul>
       {% endif %}

       {% if page.item_authororesposibles.all %}
       <h2>{% blocktrans %}Author or Responsible{% endblocktrans %}</h2>
       <ul>
	{% for author in page.item_authororesposibles.all %}
	<li><a href="{% url 'advanced_search' %}?author-or-responsible-query={{ author.an_author.author_name }}">{{ author.an_author.author_name }}</li>
	{% endfor %}
       </ul>
       {% endif %}

       {% if page.item_recipientordedicatees.all %}
       <h2>{% blocktrans %}Recipient or Dedicatee{% endblocktrans %}</h2>
       <ul>
	{% for recipient in page.item_recipientordedicatees.all %}
	<li><a href="{% url 'advanced_search' %}?recipient-or-dedicatee-query={{ recipient.a_recipient.recipient_name }}">{{ recipient.a_recipient.recipient_name }}</li>
	{% endfor %}
       </ul>
       {% endif %}

       {% if page.item_types.all %}
       <h2>{% trans 'Item Type' %}</h2>
       <ul>
	  {% for a_type in page.item_types.all %}
              <li><a href="{% url 'advanced_search' %}?item-type-query={{ a_type.a_type.type_name }}">{{ a_type.a_type.type_name }}</a></li>
	 {% endfor %}
       </ul>
       {% endif %}

       {% if page.item_places.all %}
       <h2>{% trans 'Place' %}</h2>
       <ul>
	 {% for place in page.item_places.all %}	
	      <li>
		<a href="{% url 'advanced_search' %}?place-query={{ place.a_place.place_name }}">{{ place.a_place.place_name }}</a>
	     </li>
	 {% endfor %}
       </ul>
       {% endif %}

       {% if page.date_information %}	
        <h2>{% trans 'Dates' %}</h2>
         {% for block in page.date_information %} 
                {% if block.block_type == 'date_label' %}
                        {% include_block block %}
                {% endif %}
         {% endfor %}
       {% endif %}

       {% if page.item_titles.all %}
	<h2>{% trans 'Title' %}</h2>
	<ul>
	    {% for title in page.item_titles.all %}
	        <li><a href="{% url 'advanced_search' %}?title-query={{ title.a_title.name }}">{{ title.a_title.name }}</a></li>
	    {% endfor %}	
	</ul>
	</h2>
       {% endif %}

       {% if page.related_items %}
       <h2>{% trans 'Related Items' %}</h2>
       <ul>
           {% for an_item in page.related_items %}
	      <li>{{ an_item }}</li>
	   {% endfor %}
       </ul>
       {% endif %}

       <h2>{% trans 'Dealer' %}</h2>
       <ul>
	   <li><a href="{% url 'advanced_search' %}?dealer-query={{  page.item_dealer.dealer_name }}">{{ page.item_dealer.dealer_name }}</a></li>
       </ul>
       <h2>{% trans 'Catalog' %}</h2>
       <ul>
	   <li><a href="{% url 'advanced_search' %}?catalog-query={{ page.item_catalog.catalog_name }}">{{ page.item_catalog.catalog_name }}</a></li>
       </ul>
       <h2>{% trans 'Lot' %}</h2>
       <ul>
          <li>{{ page.lot }}</li>
       </ul>



   </div> <!-- // END Sidebar -->
</div> <!-- // END mian row --> 

{% endblock %}
